<!DOCTYPE html>
<!--[if lt IE 9]>
Necesitamos Diseñador de Interfez URGENTE!!!!
<![endif]-->
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print">

    <title>Sesion 1 03/10/15</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Como instalar el JDK de Java</h1>
        <h2>Video donde se explica como instalar el JDK de Java</h2>
        <a href="https://github.com/cognatus/EjerciciosClubProgra/tree/Sesion1" class="button"><small>Ver codigo fuente en</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h3>
<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Como instalar el JDK de Java</h3>

<p>Primero que nada, deben de ir a esta direccion y descargar el JDK segun las caracteristicas de su computadora.</p>
<p><a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html?ssSourceSiteId=otnes">http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html?ssSourceSiteId=otnes</a></p>

<p>Despues de eso, deben de agregar los comandos a la consola para que puedan ejecutar y compilar programas desde ahí.</p>
<br>
<p>Para ello les dejo este video que explica bien como agregar dichos comandos a la consola. Ese tutorial fue hecho para Windows 7, pero para Windows 8 y 10 es lo mismo.</p>
<iframe width="420" height="345"
src="https://www.youtube.com/embed/LMr4UKhXazY">
</iframe>

        </section>

        <aside id="sidebar">
          
          <p class="repo-owner">Descarga ambos programas.</p>

          <a href="https://github.com/cognatus/EjerciciosClubProgra/zipball/Sesion1" class="button">
            <small>Descarga en</small>
            .zip
          </a>
          <a href="https://github.com/cognatus/EjerciciosClubProgra/tarball/Sesion1" class="button">
            <small>Descarga en</small>
            .tar.gz
          </a>

          <br>
          <br>
          <br>

          <a href="https://www.facebook.com/ClubPr0gra" class="face"><img src="../images/facebook.png">
          </a>

          <p class="repo-owner">Contactanos mediante nuestra Pagina de Facebook, <a href="https://www.facebook.com/ClubPr0gra">Club de Programacón Batiz</a>.</p>

          <br>
          <br>
          <br>

          <p class="repo-owner">Pagina principal.</p>
          <a href="../index.html" class="face"><img src="../images/home.png">
          </a>

        </aside>
      </div>
    </div>

  
  </body>
</html>
